<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<h1 id="title">Welcome to Chartreuse</h1> 
	<h4 id="description">Your Personal and Secure Banking Application</h4>
		<ul class="nav nav-tabs">
    		<li class="active"><a data-toggle="tab" href="#CME">Current Month's Expenditure</a></li>
    		<li><a data-toggle="tab" href="#PME">Past Months Expenditure</a></li>
    		<li><a data-toggle="tab" href="#HA">Historical Analysis</a></li>
    		<li><a data-toggle="tab" href="#IT">Import Table</a></li> 

 		 </ul>
  <div class="tab-content">
    <div id="CME" class="tab-pane fade in active">
      <h3>Current Month's Expenditure</h3>
      <p>XYZ</p> 
      {{ember-chart type='pie' data=pieData width=350 height=350 legend=true}} 
    </div>
    <div id="PME" class="tab-pane fade in active">
      <h3>Past Month's Expenditure</h3>
      <p>ABC</p> 
      {{ember-chart type='pie' data=pieData2 width=350 height=350 legend=true}}
    </div>
    <div id="HA" class="tab-pane fade in active">
      <h3>Historical Analysis</h3>
      <p></p> 
      {{ember-chart type='pie' data=pieData3 width=350 height=350 legend=true}}
    </div> 
    <div id="IT" class="tab-pane fade">
      <h3>Import Table</h3>
      <p></p> 
    </div> 
  </div>
</body>
{{outlet}}
